{
  "extends": "eslint:recommended",
  "env": {
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": [0]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
